@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Sixtyfour+Convergence&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


:root{
    --primary: rgb(132, 179, 209);
    --secondary: rgb(204, 0, 0);
    --tertiary: rgb(26, 48, 71);
    --borderBox: rgb(255, 55, 49, 0.4);
    --bg-color: #151f28;
    --main-color: #00abf0;
    --text-color: #333;
    --second-text-color: #555;
    --white-color:#fff;
    --cover-color:linear-gradient(45deg, #00abf0, #006e9a);
    --pages-color:linear-gradient(90deg, #fff, #ddd);
    --border: 0.125rem solid #00abf0;
    --box-shadow: 0 0 0.8rem rgba(0,0,0,0.2);

}


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Michroma", sans-serif;
}



body{
    margin: 0;
    padding: 0;
    background-image: url("../img/abstract-background-with-low-poly-design.jpg");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#bodyCv{
   display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    background-color: var(--bg-color);
    color: var(--text-color);
    overflow: hidden;
    font-family: "Nunito", sans-serif; 
}

#backHome{
    background-image: url("../img/pexels-ron-lach-9783353.jpg");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 100vh;
}

header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
header .logo{
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    background: var(--tertiary);
    border-radius: 5px;
    padding: 5px;
    font-family: "Sixtyfour Convergence", sans-serif;
    font-weight: 600;
}

header .logo:hover{
    background-color: rgb(132, 179, 209);
    transition: 1s;
}

header .navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

header .navbar li{
    list-style: none;
    margin-left: 10px;
}

header .navbar li a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    padding: 5px;
    transition: 0.3s;
    font-size: 0.8em;
    text-transform: uppercase;
}

header .navbar li a:hover{
    border-bottom: 5px solid var(--primary);
    border-top: 5px solid var(--primary);
    border-radius: 5px;
    padding: 2px;
}


/*Estilización del contenido del Landing page.*/
.contenido {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
}
.contenido .tituloBox{
    position: relative;
    right: 600px;
    max-width: 600px;
    text-align: center;
}
.contenido .tituloBox h2{
    font-size: 3.5em;
    text-transform: uppercase;
    color: white;

}

.contenido .tituloBox h2 span{
    background: var(--primary);
    color: white;
    padding: 0 10px;
    font-family: "Red Hat Text", sans-serif;
    font-weight: 400px;
    border-radius: 20px;
}

.contenido .tituloBox a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--primary);
    background: #fff;
    border-radius: 20px;
    letter-spacing: 2px;
    transition: 0.5s;
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
}

.contenido .tituloBox a:hover{
    background-color: var(--primary);
    color: #fff;
    transition: 0.5s;
}

/*Copyright*/
.copyright {
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    z-index: 100;
    margin-top: 3.5rem;
    padding: 0 100px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright p{
    color: #fff;
    margin-left: 0px;
}

/*Redes Sociales*/
.redesSociales{
    position: fixed;
    right: 0px;
    bottom: 0px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px 30px;
    list-style: none;
}

.redesSociales li{
    padding: 10px;
}

.redesSociales li a{
    color: #fff;
    font-size: 2.5em;
    transition: 0.3s;
}
.redesSociales li:hover a{
    color: var(--secondary);
    transition: 0.5s;
}

/*Contenido de la página "Quién soy"*/
.contenido .textoSobre{
    border: 5px solid var(--borderBox);
    background-color: var(--borderBox);
    border-radius: 10px;
    padding: 10px;
}
.contenido .textoSobre h6{
    font-family: "Michroma", sans-serif;
    margin-right: 1650px;
    margin-bottom: 15px;
    text-align: left;
    border-bottom: 5px solid red;
    color: #fff;
    font-size: 30px;
}
.contenido .textoSobre p{
    font-family: "Red Hat Text", sans-serif;
    color: #fff;
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.contenido .textoSobre ul li{
    font-family: "Red Hat Text", sans-serif;
    color: #fff;
    font-size: 20px;
    margin-left: 100px;
}

.bookButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 100px;
}

.bookButton a{
    margin-right: 10px;
    margin-left: 10px;
    font-family: "Red Hat Text", sans-serif;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    color: #fff;
    border-radius: 20px;
    background-color: var(--primary);
    text-decoration: none;
    transition: 0.5s;
    padding: 10px 20px;
}

.bookButton a:hover{
    color: var(--primary);
    background-color: #fff;
    transition: 0.5s;
}

.footerCopy{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: -130px;
    margin-right: 150px;
}

.footerRedSoc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: -130px;
    margin-left: 250px;

}

/*.copyright #copyQs{
    position: relative;
    bottom: -500px;
}

.redesSociales #redSocQs{
    margin-right: 500px;
    position: relative;
    bottom: -100px;
}*/

/*Contenido y estilo de la página "Proyectos Destacados"*/
.contProyectos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contProyectos h1{
    text-decoration: underline;
}

.contProyectos h2{
    font-family: "Red Hat Text", sans-serif;
    color: #fff;
}

.proyectoCard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.pProyecto{
    font-family: "Red Hat Text", sans-serif;
    color: #fff;
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 10px;
}

/*Encontré un tutorial en YouTube para hacer una animación usando solamente HTML y CSS sin Javascript, porque me gusta la idea de tener algo así llamativo para los proyectos detacados
y como todavía no tengo la facilidad de hacerlo solo, encontré este tutorial que me gustó para poder realizarlo en mi Landing page*/
.containerCard{
    width: 350px;
    height: 500px;
    perspective: 1000px;
    margin-top: 50px;
    margin-left: 50px;
}

.containerCard:hover > .card{
    cursor: pointer;
    transform: rotateY(180deg);
}

.card{
    width: 100%;
    height: 100%;
    position: relative;
    transition: 1500ms;
    transform-style: preserve-3d;
}

.front, 
.back{
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.front{
    background-image: url("../img/Rolf.png");
    background-size: 350px 500px;
}

.back{
    background-color: #3a3a3a;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#card2{
    background-image: url("../img/WorldEarisia.jpeg");
    background-size: 350px 500px;
}

#card3{
    background-image: url("../img/StreetFighter.png");
    background-size: 350px 500px;
}

#card4{
    background-image: url("../img/SNJ.png");
    background-size: 350px 500px;
}

.cardTitle{
    text-align: center;
    margin-bottom: 80px;
    text-decoration: underline;
}

.cardText{
    font-family: "Red Hat Text", sans-serif;
    color: #fff;
    font-size: 1em;
    text-align: center;
    margin-bottom: 50px;
}

.back a{
    text-decoration: none;
    font-family: "Red Hat Text", sans-serif;
    color: #fff;
    font-size: 25px;
    border-radius: 20px;
    background-color: var(--primary);
    transition: 0.5s;
    padding: 10px 20px;
}

.back a:hover{
    color: var(--primary);
    background-color: #fff;
    transition: 0.5s;
}

/*Contenido y estilo de la página "CV"*/
.wrapper{
    position: relative;
    width: 66rem;
    height: 45rem;
    padding: 2rem;
    perspective: 250rem;
    animation: show-animate 2s forwards;
}
@keyframes show-animate {
    0%,
    30% {
        opacity: 0;
        transform: rotate(-20deg);
    }
    100% {
        opacity: 1;
        transform: rotate(0deg);
    }
}
.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: var(--cover-color);
    background-color: #029bca;
    box-shadow: var(--box-shadow);
    border-top-left-radius: 0.6rem;
    border-bottom-left-radius: 0.6rem;
    transform-origin: right;
}
.cover.cover-left{
    z-index: -1;
}
.cover.cover-right{
    z-index: 100;
    transition: transform 1s cubic-bezier(.645, .045, .355, 1);

}
.cover.cover-right.turn {
    transform: rotateY(180deg);
}

.book, .book *{
    font-family: "Nunito", sans-serif;
}

.book {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    perspective: 250rem;
}
.book .book-page {
    position: absolute;
    width: 50%;
    height: 100%;
    background: var(--pages-color);
    box-shadow: 0 0 .6rem rgba(0,0,0,0.1);
    display: flex;
    padding: 2rem;
}
.book-page.page-left{
    box-shadow: -.6rem .6rem .6rem rgba(0,0,0,0.1);
}
.profile-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile-page img{
     max-width: 180px;
     border-radius: 50%;
     border: 0.25rem solid var(--main-color);
     margin-bottom: .8rem;
}
.profile-page h1 {
    font-size: 2.7rem;
    line-height: 1;
    color:#333;
    text-align: center;
}
.profile-page h3{
    color: var(--main-color);
    font-size: 1.5rem;
}
.profile-page .social-media {
    margin: .6rem .8rem;
}
.profile-page .social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    border: var(--border);
    border-radius: 50%;
    font-size: 1.3rem;
    color: var(--main-color);
    margin: 0 .2rem;
    transition: .5s;

}
.profile-page .social-media a:hover{
    background-color: var(--main-color);
    color: var(--white-color);
}
.profile-page p {
    text-align: justify;
    font-size: 1.1rem;
}
.profile-page .btn-box{
    margin-top: 0.4rem;
}
.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 9.5rem;
    height: 3rem;
    background: var(--main-color);
    border: var(--border) ;
    border-radius: .3rem;
    font-size: 1rem;
    color: var( --white-color);
    font-weight: 500;
    margin: 0 1rem;
    transition: .5s;
}
.btn-box .btn:nth-child(2){
    background: transparent;
    color: var(--main-color);
}
.btn-box .btn:nth-child(1):hover{
    background: transparent;
    color: var(--main-color);
}
.btn-box .btn:nth-child(2):hover{
    background: var(--main-color);
    color: var(--white-color);
}

/* right page */
.book-page.page-right{
    position: absolute;
    right: 0;
    transform-style: preserve-3d;
    transform-origin: left;
    transition: transform 1s cubic-bezier(.645, .045, .355, 1);
}
.book-page.page-right.turn{
    transform: rotateY(-180deg);
}

.book-page .page-front,
.book-page .page-back{
    position: absolute;
    z-index: 50;
    opacity: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--pages-color);
    padding: 1.5rem 2rem;
}
.book-page .page-front{
    transform: rotateY(0deg) translateZ(1px);
}
.book-page .page-back{
    transform: rotateY(180deg) translateZ(1px);
}

.title {
    text-align: center;
    color: #333;
}
.workeduc-box {
    border-left: var(--border);
    margin-top: 2rem;
}
.workeduc-box .workeduc-content {
    position: relative;
    padding-left: 1.6rem;
    padding-bottom: 1.2rem;
}
.workeduc-box .workeduc-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: -0.65rem;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background: var(--main-color);
}
.workeduc-content .year {
    color: var(--main-color);
    font-size: 1.2rem;
}
.workeduc-content h3{
    font-size: 1.4rem;
    margin: .3rem 0;
}
.workeduc-content p{
    font-size: 1.15rem;
    text-align: justify ;
}
.workeduc-content .year i {
    margin-right: .4rem;
    font-size: 1.2rem;
}
.number-page{
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 600;
}

/* next button */
.nextprev-btn{
    position: absolute;
    bottom: .9rem;
    right: 1.5rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    font-size: 2rem;
    color: var(--second-text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    z-index: 50;

    background: transparent;
    border: 0px solid var(--second-text-color);
    border-radius: 50%;
}
.nextprev-btn:hover{
    color: var(--main-color);
    background: var(--main-color);
    color: var(--white-color);
    border-color: var(--white-color);

}

.nextprev-btn:hover i{
    color: var(--white-color);
}

.nextprev-btn.back{
    left: 1.5rem;
    right: auto;
    color: var(--second-text-color);
    transform: translateX(-50%);
}


/* my services */
.services-box{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 2rem;
}
.services-box .services-content{
    flex: 1 1 10rem ;
    border: var(--border);
    border-radius: .5rem;
    padding: .8rem .5rem 1.1rem;
    text-align: center;
    transition: .3s ease;
}
.services-box .services-content:hover{
    box-shadow: var(--box-shadow);
}
.services-content i{
    font-size: 2.5rem;
    color: var(--main-color);
}
.services-content h3{
    font-size: 1.1rem;
}
.services-content p {
    margin: .2rem 0 .8rem;
    font-size: 13px;
}
.services-content .btn {
    width: 8rem;
    height: 2.5rem;
}
.services-content .btn:hover{
    background-color: transparent;
    color: var(--main-color);
}


/* skilss box */
.skills-box{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 2rem;

}
.skills-box .skills-content{
    flex: 1 1 20rem;
}
.skills-content h3{
    font-size: 1.3rem;
    line-height: 1;
    margin-bottom: .6rem;
}
.skills-content .content{
    display: flex;
    flex-wrap: wrap;
    gap: .8rem;
}
.skills-content .content span{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 4.8rem;
    border: var(--border);
    border-radius: .3rem;
    font-weight: 600;
    transition: .3 ease;
}
.skills-content .content span:hover{
    box-shadow: var(--box-shadow);
}
.skills-content .content span i{
    color: var(--main-color);
    font-size: 3rem;
}


/* portfolio */
.portfolio-box{
    margin-top: 2rem;

}
.portfolio-box .img-box{
    display: flex;
    width: 100%;
    height: 15rem;
    border-radius: .5rem;
    border: var(--border);
    overflow: hidden;
}
.portfolio-box .img-box img{
    width: 100%;
    object-fit: cover;
    transition: .5s ease;
}
.portfolio-box .img-box:hover img{
    transform: scale(1.1);
}
.portfolio-box .info-box{
    margin: 1rem 0 1.5rem;
}
.portfolio-box .info-box .info-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
.portfolio-box .info-box .info-title h3{
    font-size: 1.3rem;
}
.portfolio-box .info-box .info-title a{
    display: flex;
    align-items: center;
    color: var(--main-color);
}
.portfolio-box .info-box .info-title a i{
    margin-left: .3rem;
}
.portfolio-box .info-box p:nth-of-type(1){
    font-weight: 600;
}
.portfolio-box .info-box p{
    text-align: justify;
}
.portfolio-box .btn-box{
    display: flex;
    justify-content: center;
}
.portfolio-box .btn-box .btn{
    margin: 0 1 .15rem;
}


/* Contact Me! */
.contact-box{
    margin-top: 2rem;
    text-align: center;
}
.contact-box .field{
    width: 100%;
    background-color: transparent;
    border: var(--border);
    border-radius: .3rem;
    padding: .8rem;
    font-size: 1rem;
    color: var(--text-color);
    margin-bottom: 1.5rem;
}

.contact-box .field::placeholder{
    color: var(--text-color);
}
.contact-box textarea{
    resize: none;
    height: 15rem;
}
.contact-box .btn{
    cursor: pointer;
}
.contact-box .btn:hover{
    background-color: transparent;
    color: var(--main-color);
}

.back-profile{
    position: absolute;
    bottom: 1.2rem;
    right: 2rem;
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border: var(--border);
    border-radius: .3rem;
    font-size: 1.1rem;
    color: var(--main-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}
.back-profile:hover{
    background: var(--main-color);
    color: var(--white-color);
}
.back-profile p{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) scale(.5);
    font-size: 1rem;
    opacity: 0;
    transition: .5s;
    color: var(--main-color);
}
.back-profile:hover p{
    opacity: 1;
    transform: translateX(-50%) scale(1);
    top: -1.8rem;
}


/*Contenido y estilo de la página "Contacto"*/

#contactme{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contactme h1{
    color: #fff;
    margin-bottom: 10px;
}

#contactme .contactText p{
    font-family: "Red Hat Text", sans-serif;
    color: #fff;
    font-size: 25px;
    margin-bottom: 20px;
}

#contactme .formulario{
    display:flex;
    margin-left: auto;
    margin-right: auto;
    width: 66%;
}

#contactme form{
    margin: auto;
    border: 13px outset var(--borderBox);
    padding: 2rem;
    border-radius: 25px 25px 25px 25px;
    background-color: var(--borderBox);
    color: #fff;
    font-family: "Red Hat Text", sans-serif;
}

#contactme .campo{
    display: block;
    text-align: left;
    margin-bottom: 0.5rem;
    break-inside: auto;
}

#contactme fieldset{
    border-radius: 5px 5px 5px 5px;
}

#contactme legend{
    font-size: 25px;
    font-weight: bold;
    margin-left: 5px;
}

#contactme label{
    font-family: "Red Hat Text", sans-serif;
    font-size: 20px;
    margin-left: 5px;
}

#contactme input{
    font-family: "Red Hat Text", sans-serif;
    padding: 1px;
    margin-left: 25px;
    width: 250px;
}

#contactme #nombre{
    margin-left: 13px;
}

#contactme #apellidos{
    margin-left: 5px;
}

#contactme #email{
    margin-left: 37px;
}

#contactme #comments{
    font-family: "Red Hat Text", sans-serif;
    resize: none;
    padding: 0px;
    text-indent: 5px;
    margin-left: 20px;
    width: 350px;
    height: 110px;
    margin-top: 0.9em;
    margin-bottom: 0.9em;
    text-align: left;
}

#contactme #botones{
    display: flex;
    margin-top: 20px;
    padding-right: 40px;
}

#contactme #enviar{
    border-radius: 10px;
    background-color: var(--primary);
    color: #fff;
    transition: 0.5s;
    width: 150px;
    height: 40px;
    padding: 2px;
}

#contactme #borrar{
    border-radius: 10px;
    background-color: var(--primary);
    color: #fff;
    transition: 0.5s;
    width: 150px;
    padding: 2px;
}

#contactme #enviar:hover{
    background-color: #fff;
    color: var(--primary);
    transition: 0.5s;
}

#contactme #borrar:hover{
    background-color: #fff;
    color: var(--primary);
    transition: 0.5s;
}

/*Breakpoints para el responsive*/

/*Mobile*/
/*Home*/
@media only screen and (max-width: 576px){
    section{
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    }
    header{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    header .logo{
        background-color: var(--tertiary);
    }

    header .navbar{
        width: 100%;
        background-color: var(--tertiary);
        border-radius: 5px;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    header .navbar li{
        margin: 5px;
    }
    
    .contenido{
        padding-left: 10px;
        padding-right: 10px;
    }

    .contenido .tituloBox{
        right: auto;
        max-width: 90%;
        text-align: center;
    }

    .contenido .tituloBox h2{
        font-size: 2em;
    }

    .contenido .tituloBox a{
        font-size: 0.9em;
        padding: 8px 16px;
    }

    .copyright{
        position: static;
        text-align: center;
        padding: 10px;
        margin-left: 0;
        margin-right: 90px;
        margin-bottom: 0;
    }

    .redesSociales{
        position: static;
        justify-content: center;
        padding: 10px;
        margin-right: 20px;
        margin-top: 0;
    }

    .redesSociales li{
        padding: 5px;
    }

    .redesSociales li a{
        font-size: 2em;
    }

    /*Quien soy*/
    .contenido .textoSobre{
        margin-top: 200px;
        width: 80%;
    }

    .contenido .textoSobre h6{
        margin-right: auto;
        font-size: 1.5em;
    }

    .contenido .textoSobre p,
    .contenido .textoSobre ul li{
        font-size: 1em;
    }

    .contenido .textoSobre a{
       margin-bottom: 10px;
    }

    .footerCopy{
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .footerRedSoc{
        margin-top: 120px;
        margin-bottom: -60px;
    }

    /*CV*/
    .cvContainer{
        margin-right: auto;
        margin-top: 200px;
        width: 90%;
        padding: 10px;
    }

    .imgContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 400px;
        overflow: hidden;

    }
    .cvImg{
        max-width: 100%;
        max-height: 100%;
    }
    .headerCv h2{
        font-size: 1.5em;
        margin-left: 10px;
        text-align: center;
    }

    .info h3{
        font-size: 1.2em;
        margin-left: 10px;
    }

    .info ul li,
    .info p,
    .info dl dt,
    .info dl dd{
        font-size: 1em;
        margin-left: 15px;
    }

    /*Contacto*/
    h1{
        margin-top: 200px;
        font-size: 2em;
        text-align: center;
    }

    .contactText p{
        font-size: 1em;
    }

    .formulario{
        width: 90%;
    }

    form{
        padding: 1rem;
    }

    label{
        font-size: 0.9em;
    }

    input,
    textarea{
        width: 150px;
        margin-left: 0;
    }

    #botones{
        flex-direction: column;
        align-items: center;
        padding-right: 0;
    }

    #enviar,
    #borrar{
        width: 90%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    /*Proyectos Destacados*/
    .proyectoCard{
        flex-direction: column;
        align-items: center;
    }

    .containerCard{
        width: 100px;
        height: 200px;
        margin: 10px 0;
    }

    .front,
    .back{
        min-height: 200px;
    }

    .front {
        background-size: cover;
        background-position: center;
    }

    .cardTitle{
        font-size: 0.5em;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .cardText,
    .back a{
        font-size: 0.5em;
    }
    .cardText{
        margin-bottom: 10px;
    }
}
/*Tablet*/
@media only screen and (min-width: 768px) and (max-width: 991px){
    section{
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    }
    header{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    header .logo{
        background-color: var(--tertiary);
    }

    header .navbar{
        width: 100%;
        background-color: var(--tertiary);
        border-radius: 5px;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    header .navbar li{
        margin: 5px;
    }
    .contenido{
        padding-left: 10px;
        padding-right: 10px;
    }

    .contenido .tituloBox{
        right: auto;
        max-width: 90%;
        text-align: center;
    }

    .contenido .tituloBox h2{
        font-size: 2em;
    }

    .contenido .tituloBox a{
        font-size: 0.9em;
        padding: 8px 16px;
    }

    .contenido .textoSobre{
        margin-top: 200px;
        width: 80%;
    }

    .contenido .textoSobre h6{
        margin-right: auto;
        font-size: 1.5em;
    }

    .contenido .textoSobre p,
    .contenido .textoSobre ul li{
        font-size: 1em;
    }

    .contenido .textoSobre a{
       margin-bottom: 10px;
    }

    .formulario{
        width: 50%;
    }

    .cvContainer{
        width: 70%;
    }

    .proyectoCard{
        flex-wrap: wrap;
        justify-content: center;
    }

    .containerCard{
        width: 45%;
    }
}

/*Desktop*/
@media only screen and (min-width: 992px){
    section{
        padding: 100px;
    }

    .contenido{
        padding-left: 10px;
        padding-right: 10px;
    }

    .contenido .tituloBox{
        right: 550px;
        max-width: 90%;
        text-align: center;
    }

    .contenido .tituloBox h2{
        font-size: 2.5em;
    }

    .contenido .tituloBox a{
        font-size: 0.9em;
        padding: 8px 16px;
    }

    .contenido .textoSobre{
        margin-top: 200px;
        width: 80%;
    }

    .contenido .textoSobre h6{
        margin-right: auto;
        font-size: 1.5em;
    }

    .contenido .textoSobre p,
    .contenido .textoSobre ul li{
        font-size: 1em;
    }

    .contenido .textoSobre a{
       margin-bottom: 10px;
    }

    .formulario{
        width: 25%;
    }

    .cvContainer{
        width: 50%;
    }

    .proyectoCard{
        flex-wrap: nowrap;
    }

    .containerCard{
        width: 350px;
    }
}
@media only screen and (max-width: 1000px){
    section{
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    }
    header{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    header .logo{
        background-color: var(--tertiary);
    }

    header .navbar{
        width: 100%;
        background-color: var(--tertiary);
        border-radius: 5px;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    header .navbar li{
        margin: 5px;
    }
}
@media only screen and (min-width: 577px) and (max-width: 767px){
    .contenido{
        padding-left: 10px;
        padding-right: 10px;
    }

    .contenido .tituloBox{
        right: auto;
        max-width: 90%;
        text-align: center;
        margin-top: 10rem;
    }

    .contenido .tituloBox h2{
        font-size: 2em;
    }

    .contenido .tituloBox a{
        font-size: 0.9em;
        padding: 8px 16px;
    }
    .contenido .textoSobre{
        margin-top: 200px;
        width: 80%;
    }

    .contenido .textoSobre h6{
        margin-right: auto;
        font-size: 1.5em;
    }

    .contenido .textoSobre p,
    .contenido .textoSobre ul li{
        font-size: 1em;
    }

    .contenido .textoSobre a{
       margin-bottom: 10px;
    }
    .contProyectos h1{
        margin-top: 9rem;
    }
    .pProyecto{
        font-size: 1rem;
    }

    .containerCard{
        width: 350px;
        margin-bottom: 100px;
    }
    .copyright{
        position: relative;
        margin-right: 200%;
    }
    .redesSociales{
        position: relative;
        margin-top: 10px;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1625px){
    .formulario{
        width: 44%;
    }
}

/*Landscape*/
@media only screen and (orientation: landscape) and (max-width: 767px){
    section{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    header{
        flex-direction: row;
        align-items: center;
    }
}
/**************/
/*Circulo*/
/*.circulo{
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(2, 112, 108, 0.386);
    clip-path: circle(650px at right 800px);
    width: 100%;
    height: 100%;
    z-index: -1000;
}*/