@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Sixtyfour+Convergence&display=swap');

:root{
    --primary: rgb(132, 179, 209);
    --secondary: rgb(204, 0, 0);
    --tertiary: rgb(26, 48, 71);
    --borderBox: rgb(255, 55, 49, 0.4);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Michroma", sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-image: url("../img/abstract-background-with-low-poly-design.jpg");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#backHome{
    background-image: url("../img/pexels-ron-lach-9783353.jpg");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 100vh;
}

header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
header .logo{
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    background: var(--tertiary);
    border-radius: 5px;
    padding: 5px;
    font-family: "Sixtyfour Convergence", sans-serif;
    font-weight: 600;
}

header .logo:hover{
    background-color: rgb(132, 179, 209);
    transition: 1s;
}

header .navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

header .navbar li{
    list-style: none;
    margin-left: 10px;
}

header .navbar li a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    padding: 5px;
    transition: 0.3s;
    font-size: 0.8em;
    text-transform: uppercase;
}

header .navbar li a:hover{
    border-bottom: 5px solid var(--primary);
    border-top: 5px solid var(--primary);
    border-radius: 5px;
    padding: 2px;
}


/*Estilización del contenido del Landing page.*/
.contenido {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
}
.contenido .tituloBox{
    position: relative;
    right: 600px;
    max-width: 600px;
    text-align: center;
}
.contenido .tituloBox h2{
    font-size: 3.5em;
    text-transform: uppercase;
    color: white;

}

.contenido .tituloBox h2 span{
    background: var(--primary);
    color: white;
    padding: 0 10px;
    font-family: "Red Hat Text", sans-serif;
    font-weight: 400px;
    border-radius: 20px;
}

.contenido .tituloBox a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--primary);
    background: #fff;
    border-radius: 20px;
    letter-spacing: 2px;
    transition: 0.5s;
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
}

.contenido .tituloBox a:hover{
    background-color: var(--primary);
    color: #fff;
    transition: 0.5s;
}

/*Copyright*/
.copyright {
    position: absolute;
    bottom: 0px;
    left: 700px;
    margin-bottom: 20px;
    padding: 0 100pX 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright p{
    color: #fff;
    text-align: center;
    margin-left: 80px;
}

/*Redes Sociales*/
.redesSociales{
    position: absolute;
    right: 0px;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px 30px;
    list-style: none;
}

.redesSociales li{
    padding: 10px;
}

.redesSociales li a{
    color: #fff;
    font-size: 2.5em;
    transition: 0.3s;
}
.redesSociales li:hover a{
    color: var(--secondary);
    transition: 0.5s;
}

/*Contenido de la página "Quién soy"*/
.contenido .textoSobre{
    border: 5px solid var(--borderBox);
    background-color: var(--borderBox);
    border-radius: 10px;
    padding: 10px;
}
.contenido .textoSobre h6{
    font-family: "Michroma", sans-serif;
    margin-right: 1650px;
    margin-bottom: 15px;
    text-align: left;
    border-bottom: 5px solid red;
    color: #fff;
    font-size: 30px;
}
.contenido .textoSobre p{
    font-family: "Red Hat Text", sans-serif;
    color: #fff;
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.contenido .textoSobre ul li{
    font-family: "Red Hat Text", sans-serif;
    color: #fff;
    font-size: 20px;
    margin-left: 100px;
}

.bookButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 100px;
}

.bookButton a{
    margin-right: 10px;
    margin-left: 10px;
    font-family: "Red Hat Text", sans-serif;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    color: #fff;
    border-radius: 20px;
    background-color: var(--primary);
    text-decoration: none;
    transition: 0.5s;
    padding: 10px 20px;
}

.bookButton a:hover{
    color: var(--primary);
    background-color: #fff;
    transition: 0.5s;
}

.footerCopy{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: -130px;
    margin-right: 150px;
}

.footerRedSoc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: -130px;
    margin-left: 250px;

}

/*.copyright #copyQs{
    position: relative;
    bottom: -500px;
}

.redesSociales #redSocQs{
    margin-right: 500px;
    position: relative;
    bottom: -100px;
}*/

/*Contenido y estilo de la página "Proyectos Destacados"*/
.contProyectos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contProyectos h1{
    text-decoration: underline;
}

.contProyectos h2{
    font-family: "Red Hat Text", sans-serif;
    color: #fff;
}

.proyectoCard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.pProyecto{
    font-family: "Red Hat Text", sans-serif;
    color: #fff;
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 10px;
}

/*Encontré un tutorial en YouTube para hacer una animación usando solamente HTML y CSS sin Javascript, porque me gusta la idea de tener algo así llamativo para los proyectos detacados
y como todavía no tengo la facilidad de hacerlo solo, encontré este tutorial que me gustó para poder realizarlo en mi Landing page*/
.containerCard{
    width: 350px;
    height: 500px;
    perspective: 1000px;
    margin-top: 50px;
    margin-left: 50px;
}

.containerCard:hover > .card{
    cursor: pointer;
    transform: rotateY(180deg);
}

.card{
    width: 100%;
    height: 100%;
    position: relative;
    transition: 1500ms;
    transform-style: preserve-3d;
}

.front, 
.back{
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.front{
    background-image: url("../img/Rolf.png");
    background-size: 350px 500px;
}

.back{
    background-color: #3a3a3a;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#card2{
    background-image: url("../img/WorldEarisia.jpeg");
    background-size: 350px 500px;
}

#card3{
    background-image: url("../img/StreetFighter.png");
    background-size: 350px 500px;
}

#card4{
    background-image: url("../img/SNJ.png");
    background-size: 350px 500px;
}

.cardTitle{
    text-align: center;
    margin-bottom: 80px;
    text-decoration: underline;
}

.cardText{
    font-family: "Red Hat Text", sans-serif;
    color: #fff;
    font-size: 1em;
    text-align: center;
    margin-bottom: 50px;
}

.back a{
    text-decoration: none;
    font-family: "Red Hat Text", sans-serif;
    color: #fff;
    font-size: 25px;
    border-radius: 20px;
    background-color: var(--primary);
    transition: 0.5s;
    padding: 10px 20px;
}

.back a:hover{
    color: var(--primary);
    background-color: #fff;
    transition: 0.5s;
}

/*Contenido y estilo de la página "CV"*/
.cvContainer{
    border: 8px solid rgb(148, 148, 184);
    background-color: #fff;
    position: relative;
    margin-right: 95px;
    margin-top: 50px;
    max-width: 3000px;
    text-align: justify;
    padding: 20px;
}

.imgContainer{
    position: relative;
    border: 2px outset black;
    width: 350px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.cvImg{
    height: 100%;
    width: 100%;
}

.cvImg{
    background-image: url("../img/Nicky.jpg");
    background-size: 350px 400px;
}

.headerCv{
    display: inline;
}

.headerCv h2{
    font-family: "Red Hat Text", sans-serif;
    font-size: 30px;
    margin-left: 30px;
}

.info h3{
    font-family: "Red Hat Text", sans-serif;
    font-size: 20px;
    text-decoration: underline;
    text-decoration-color: black;
    margin-left: 15px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.info ul li{
    font-family: "Red Hat Text", sans-serif;
    font-weight: 900;
    font-size: 25px;
    margin-left: 30px;
    text-decoration: underline;
    text-decoration-color: black;
    list-style-type: none;
}

.info p{
    font-family: "Red Hat Text", sans-serif;
    font-weight: 400;
    font-size: 25px;
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: none;
}

.info dl dt{
    font-family: "Red Hat Text", sans-serif;
    font-weight: 900;
    font-size: 25px;
    margin-left: 30px;
    text-decoration: underline;
    text-decoration-color: black;
}

.info dl dd{
    font-family: "Red Hat Text", sans-serif;
    font-weight: 500;
    font-size: 25px;
    margin-left: 30px;
}


/*Contenido y estilo de la página "Contacto"*/

#contactme{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: #fff;
    margin-bottom: 10px;
}

.contactText p{
    font-family: "Red Hat Text", sans-serif;
    color: #fff;
    font-size: 25px;
    margin-bottom: 20px;
}

.formulario{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

form{
    margin: auto;
    border: 13px outset var(--borderBox);
    padding: 2rem;
    border-radius: 25px 25px 25px 25px;
    background-color: var(--borderBox);
    color: #fff;
    font-family: "Red Hat Text", sans-serif;
}

.campo{
    display: block;
    text-align: left;
    margin-bottom: 0.5rem;
    break-inside: auto;
}

fieldset{
    border-radius: 5px 5px 5px 5px;
}

legend{
    font-size: 25px;
    font-weight: bold;
    margin-left: 5px;
}

label{
    font-family: "Red Hat Text", sans-serif;
    font-size: 20px;
    margin-left: 5px;
}

input{
    font-family: "Red Hat Text", sans-serif;
    padding: 1px;
    margin-left: 25px;
    width: 250px;
}

textarea{
    font-family: "Red Hat Text", sans-serif;
    resize: none;
    padding: 0px;
    margin-left: 50px;
    width: 250px;
    height: 110px;
    margin-top: 0.9em;
    margin-bottom: 0.9em;
}

#botones{
    display: flex;
    margin-top: 20px;
    padding-right: 40px;
}

#enviar{
    border-radius: 10px;
    background-color: var(--primary);
    color: #fff;
    transition: 0.5s;
    width: 150px;
    height: 40px;
    padding: 2px;
}

#borrar{
    border-radius: 10px;
    background-color: var(--primary);
    color: #fff;
    transition: 0.5s;
    width: 150px;
    padding: 2px;
}

#enviar:hover{
    background-color: #fff;
    color: var(--primary);
    transition: 0.5s;
}

#borrar:hover{
    background-color: #fff;
    color: var(--primary);
    transition: 0.5s;
}

/*Breakpoints para el responsive*/

/*Mobile*/
/*Home*/
@media only screen and (max-width: 576px){
    section{
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    }
    header{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    header .logo{
        background-color: var(--tertiary);
    }

    header .navbar{
        width: 100%;
        background-color: var(--tertiary);
        border-radius: 5px;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    header .navbar li{
        margin: 5px;
    }
    
    .contenido{
        padding-left: 10px;
        padding-right: 10px;
    }

    .contenido .tituloBox{
        right: auto;
        max-width: 90%;
        text-align: center;
    }

    .contenido .tituloBox h2{
        font-size: 2em;
    }

    .contenido .tituloBox a{
        font-size: 0.9em;
        padding: 8px 16px;
    }

    .copyright{
        position: static;
        text-align: center;
        padding: 10px;
        margin-left: 0;
        margin-right: 90px;
        margin-bottom: 0;
    }

    .redesSociales{
        position: static;
        justify-content: center;
        padding: 10px;
        margin-right: 20px;
        margin-top: 0;
    }

    .redesSociales li{
        padding: 5px;
    }

    .redesSociales li a{
        font-size: 2em;
    }

    /*Quien soy*/
    .contenido .textoSobre{
        margin-top: 200px;
        width: 80%;
    }

    .contenido .textoSobre h6{
        margin-right: auto;
        font-size: 1.5em;
    }

    .contenido .textoSobre p,
    .contenido .textoSobre ul li{
        font-size: 1em;
    }

    .contenido .textoSobre a{
       margin-bottom: 10px;
    }

    .footerCopy{
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .footerRedSoc{
        margin-top: 120px;
        margin-bottom: -60px;
    }

    /*CV*/
    .cvContainer{
        margin-right: auto;
        margin-top: 200px;
        width: 90%;
        padding: 10px;
    }

    .imgContainer{
        width: 300px;
        height: 350px;
    }

    .imgContainer img{
        width: 150px;
        height: 200px;
    }

    .headerCv h2{
        font-size: 1.5em;
        margin-left: 10px;
    }

    .info h3{
        font-size: 1.2em;
        margin-left: 10px;
    }

    .info ul li,
    .info p,
    .info dl dt,
    .info dl dd{
        font-size: 1em;
        margin-left: 15px;
    }

    /*Contacto*/
    h1{
        margin-top: 200px;
        font-size: 2em;
        text-align: center;
    }

    .contactText p{
        font-size: 1em;
    }

    .formulario{
        width: 90%;
    }

    form{
        padding: 1rem;
    }

    label{
        font-size: 0.9em;
    }

    input,
    textarea{
        width: 150px;
        margin-left: 0;
    }

    #botones{
        flex-direction: column;
        align-items: center;
        padding-right: 0;
    }

    #enviar,
    #borrar{
        width: 90%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    /*Proyectos Destacados*/
    .proyectoCard{
        flex-direction: column;
        align-items: center;
    }

    .containerCard{
        width: 100px;
        height: 200px;
        margin: 10px 0;
    }

    .front,
    .back{
        min-height: 200px;
    }

    .front {
        background-size: cover;
        background-position: center;
    }

    .cardTitle{
        font-size: 0.5em;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .cardText,
    .back a{
        font-size: 0.5em;
    }
    .cardText{
        margin-bottom: 10px;
    }
}
/*Tablet*/
@media only screen and (min-width: 768px) and (max-width: 991px){
    section{
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    }
    header{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    header .logo{
        background-color: var(--tertiary);
    }

    header .navbar{
        width: 100%;
        background-color: var(--tertiary);
        border-radius: 5px;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    header .navbar li{
        margin: 5px;
    }
    .contenido{
        padding-left: 10px;
        padding-right: 10px;
    }

    .contenido .tituloBox{
        right: auto;
        max-width: 90%;
        text-align: center;
    }

    .contenido .tituloBox h2{
        font-size: 2em;
    }

    .contenido .tituloBox a{
        font-size: 0.9em;
        padding: 8px 16px;
    }

    .formulario{
        width: 50%;
    }

    .cvContainer{
        width: 70%;
    }

    .proyectoCard{
        flex-wrap: wrap;
        justify-content: center;
    }

    .containerCard{
        width: 45%;
    }
}

/*Desktop*/
@media only screen and (min-width: 992px){
    section{
        padding: 100px;
    }

    .contenido{
        padding-left: 10px;
        padding-right: 10px;
    }

    .contenido .tituloBox{
        right: auto;
        max-width: 90%;
        text-align: center;
    }

    .contenido .tituloBox h2{
        font-size: 2em;
    }

    .contenido .tituloBox a{
        font-size: 0.9em;
        padding: 8px 16px;
    }

    .formulario{
        width: 25%;
    }

    .cvContainer{
        width: 50%;
    }

    .proyectoCard{
        flex-wrap: nowrap;
    }

    .containerCard{
        width: 350px;
    }
}
@media only screen and (max-width: 1000px){
    section{
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    }
    header{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    header .logo{
        background-color: var(--tertiary);
    }

    header .navbar{
        width: 100%;
        background-color: var(--tertiary);
        border-radius: 5px;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    header .navbar li{
        margin: 5px;
    }
}

/*Landscape*/
@media only screen and (orientation: landscape) and (max-width: 767px){
    section{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    header{
        flex-direction: row;
        align-items: center;
    }
}
/**************/
/*Circulo*/
/*.circulo{
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(2, 112, 108, 0.386);
    clip-path: circle(650px at right 800px);
    width: 100%;
    height: 100%;
    z-index: -1000;
}*/